[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pypdf2 = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
mypy = "*"
pytest-mock = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
